.contact-box-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 170px 60px 130px;;
}
.columns-of-contact-section{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 80px 60px; 
    background-color: #ecedf0;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    border-radius: 15px;
    justify-content: space-evenly;
    width: 100%;
}
.socialMedia a, li{
    color: #000000;
    list-style: none;
    text-decoration: none; 
    padding: 15px 0;
}
.socialMedia i{
    padding: 8px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
} 
.icon-and-list-hover:hover i{
    border-radius: 50%;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}
/*form style*/
.form-content{
    display: flex;
    flex-direction: column;
}
.name-field,
.lastname-field,
.email-field,
.mesaje-field{
    display: flex;
    flex-direction: column;
    padding: 8px;
}
input,
textarea{
    border: transparent;
    padding: 8px;
    border-radius: 15px;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}
label{
    padding: 8px 0;
}
.submit-button{
    color:#000000; 
    background-color: #b9b9b9;
    border-radius: 100px;
    padding: 12px 30px;
    max-width: 191px;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}
.submit-button:hover{
   background-color: #b9b9b9;
   color:#000000; 
   box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

    /*form*/
/*label{
    display: flex;
    font-size: 20px;
    justify-content: start;
    margin: 10px;
}
.fields-name-and-lastname {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
input{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 40px;
    padding: 10px 10px;
}
.name-field,
.lastname-field {
    width: 47%;
}
.email-field {
    margin: 10px 0;
}
.form-content input

{
    width: 100%;
}
.button-contact{
    background-color:#13151c;
    border: 1px solid #13151c;
    border-radius: 100px;
    padding: 15px 40px;
    text-decoration: none;
}
.button-contact a{
    color: #ffffff;
    font-weight: 500;
}
.button-contact:hover{
   background-color: #13151ca2;
   color:white; 
}

/*media queries*/
@media (min-width: 600px){
    .fields-name-and-lastname{
        display: flex;
        flex-direction: row;
    }
}
@media (min-width: 900px){
    .information-section{
        width: 45%;
    }
    .form-fields{
        width: 45%;
    }
}