.contact-form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact-box-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 60px 110px;
    width: 100%;
}
.columns-of-contact-section{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 80px 60px; 
    background-color: #ecedf0;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    border-radius: 15px;
    justify-content: space-evenly;
    width: 100%;
}
.socialMedia a, li{
    color: #000000;
    list-style: none;
    text-decoration: none; 
    padding: 15px 0;
}
.socialMedia i{
    padding: 8px;
    margin-right: 5px;
    border-radius: 50%;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
} 
.icon-and-list-hover:hover i{
    border-radius: 50%;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}
/*form style*/
.form-content{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}
.name-field,
.lastname-field,
.email-field,
.mesaje-field{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
input,
textarea{
    border: transparent;
    padding: 8px;
    border-radius: 15px;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}
textarea{
    padding-bottom: 60px;
    margin-bottom: 10px;  
}
label{
    padding: 4px 0;
}
.submit-button{
    color:#000000; 
    background-color: #b9b9b9;
    border-radius: 100px;
    padding: 12px 30px;
    max-width: 191px;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}
.submit-button:hover{
   background-color: #b9b9b9;
   color:#000000; 
   box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}
.columns-of-contact-section .title-section{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
}
/*media queries*/
@media (min-width: 600px){
    .contact-section-links{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        width: 100%;
    }
    .socialMedia{
        width: 50%;
    }
    .socialMedia i{
        margin-right: 10px;
    }
    .fields-name-and-lastname{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .name-field{
        width: 50%;
    }
    .lastname-field{
        width: 50%;
    }
}
@media (min-width: 900px){
    .information-section{
        width: 45%;
    }
    .form-fields{
        width: 45%;
    }
    .columns-of-contact-section{
        display: flex;
        flex-direction: row;
    }
    .contact-section-links{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .socialMedia{
        width: 100%;
    }
}