.presentation{
    padding: 80px 20px 80px;
    margin: 60px 0 0;
    justify-content: center;
    align-items: center; 
}
.presentation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presentation-text{
    text-align: center;
    justify-content: center;
}
.presentation-text p{
    font-size: 16px;
    margin-bottom: 40px;
}
.greetings,
.nickname{
    font-family: 'Poiret One', cursive;
    margin: 20px 0;
}
.nickname{
    font-size: 40px;
}
.greetings{
    font-size: 35px;
}
.what-i-do{
    color:#000000; 
    background-color: #b9b9b9;
    border-radius: 100px;
    padding: 15px 40px;
    text-decoration: none;
    max-width: 191px;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}
.what-i-do:hover{
   background-color: #b9b9b9;
   color:#000000; 
   box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}
.presentation-image img{
    margin: 80px 0 80px;
    width: 100%;
    max-width: 500px;
}
/* media queries*/
@media (min-width: 1100px) {
    .presentation-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
    }
    .presentation-text{
        width: 40%;
        display: block;
        text-align: inherit;
        padding-left: 15px;
    }
    .greetings,
    .nickname{
        align-items: start;
    }
}
