/**{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.presentation{
    padding: 80px 20px 80px;
    margin: 90px 0 0;
    justify-content: center;
    min-width: 300px; 
    min-height: 260px; 
}
.presentation-box-order{
    display: flex;
    flex-direction: column;
}
.presentation-block{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.presentation-block p{
    margin: 20px 0 40px;
    font-size: 16px;
}
.greetings,
.nickname{
    font-family: 'Poiret One', cursive;
    margin: 20px 0;
}
.nickname{
    font-size: 60px;
}
.greetings{
    font-size: 45px;
}
.main-image img{
    margin: 50px 0 0;
    width: 100%;
    max-width: 500px;
}
.main-image{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.what-i-do{
    color:white; 
    background-color:#13151c;
    border-radius: 100px;
    padding: 15px 40px;
    text-decoration: none;

}
.what-i-do:hover{
   background-color: #aeaeb1;
   color:white; 
}
@media (min-width: 1100px) {
    .presentation-box-order{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .presentation-block{
        width: 40%;
        display: block;
        text-align: inherit;
    }
    .presentation-box-order{
        flex-direction: row;
    }
    .greetings,
    .nickname{
        align-items: start;
    }
    .main-image{
        width: 40%;
        display: flex;
        justify-content: center;
    }
}
