




/* .greetings{
    color: #13151c;
    font-size: 30px;
    font-weight: 900; 
    font-family: 'Poiret One', cursive;
}
.nickname{
    font-size: 60px;
    font-weight: 900;
    font-family: 'Poiret One', cursive;
}
.presentation p{
    color: #13151ca2;
    padding: 20px 0 40px;
    font-weight: 500;
    font-size: 16px;
}
.presentation-block{
    text-align: center;
}
.what-i-do{
    color:white; 
    background-color:#13151c;
    border-radius: 100px;
    padding: 15px 40px;
    text-decoration: none;
}
.what-i-do:hover{
   background-color: #13151ca2;
   color:white; 
}

.presentation-box-order{
    display: block;
    margin-top: 70px;  
    flex-direction: column;
    width: 100%; 
}

.main-image img{
    margin: 30px 0 0;
    width: 100%;
    display: flex;
}
.presentation{
    padding: 80px 20px 80px;
    margin: 90px 0 0;
    display: flex;
} */