header{
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px 0;
    position: fixed;
    width: 100%;
    top: 0;
    visibility: hidden;
}
 .div-nav{
    width: 100%;
    max-width: 1350px;
}
 .list-nav{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
 .item-nav{
    list-style: none;
    padding: 0 15px;
}
 .linked{
    color:#000000; 
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
    border-radius: 100px;
    padding: 0 30px;
    line-height: 2.5;
    font-weight: 300;
}
 .linked:hover{
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
   color:#000000; 
}
 .selected{
    color:#000000; 
    background-color: #b9b9b9;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
    border-radius: 100px;
    padding: 0 30px;
}
 .selected:hover{
   background-color: #b9b9b9;
   box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
   color:#000000; 
}
.list-nav a {
   text-decoration: none;
   display: block;
}
/* media queries*/
@media (min-width: 1100px) {
    header{
        visibility: visible;
    }
}