
.projects-box-grid{
    padding: 140px 60px 130px;
  }
.projects-grid{
    padding: 10px;
    display: flex;
}
.project-description-text{
    text-align: center;
}
.big-buttons-grid-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.projects-box {
    border: 1px solid #aeaeb1;
    border-radius: 8px;
    background-color:white;
    padding: 25px; 
    text-decoration: none;
    width: 360px;
    height: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
.projects-box a{
    text-decoration: none;
}
.projects-box img{
    width: 200px;
    height: 200px;
 }
/*
   border: 1px solid #d1d1d4;
    border-radius: 8px;
    background-color:white;
    padding: 25px;
    margin: 10px;
.grid-projects-names{
    border: 1px solid #aeaeb1;
    border-radius: 8px;
    background-color:white;
    padding: 25px;
    margin: 10px;
    width: 10%; 
    height: 330px; 
    justify-content: space-between;   
 }

.grid-projects-names:hover{ 
    border: 1px solid #d0d1de;
    color: #989797;
}
.project-title{
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #000000;
}
  /* projects section ends*/
  @media (min-width: 780px){
    .grid-projects-list{
        max-width: 1100px;
        
    } 
    .projects-box{

    }
    .projects-grid{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}