.quote-content{
    padding: 110px 40px 130px ;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 25px;
    position: relative;
}
.quote-section{
    display: flex;
    width: 100%;
    padding: 60px 30px 40px;
    flex-direction: column;
    background-color: #13151c;
}
blockquote{
    margin: 30px 40px;
    font-size: 20px;
}
.someone{
    margin-top: 50px;
    color: #ffffff;
}
/*media queries*/
@media (max-width: 700px){
    .quote-section{
        padding: 80px 20px;
        width: 100%;
    }
}