.quote-content{
    display: flex;
    padding: 110px 40px 130px ;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #13151c;
    font-size: 25px;
}
.quote-section{
    display: flex;
    width: max-content;
    height: max-content;
}
blockquote{
    margin: 30px 40px;
    font-size: 20px;
}
.someone{
    margin-top: 50px;
    color: #ffffff;
}
@media (max-width: 700px){
    .quote-section{
        padding: 80px 20px;
        width: 100%;
    }
}