.habilities {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    background-color: #dde1e7;
    display: flex;
    flex-wrap: wrap;
    padding: 110px 40px 130px;
    min-width: 260px; 
    min-height: 160px; 
}
/* grid part */
.big-buttons-for-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.grid-buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 8px;
    background-color:#dde1e7;
    padding: 25px;
    margin: 10px;
    width: 260px;  
    height: 200px;
    justify-content: space-evenly;  
    box-shadow: inset -10px -10px 15px #ffffff80, 
    inset 10px 10px 15px rgba(70, 70, 70, 0.12); 
}
.grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.colored{
    font-size: 2.7em;
    display: block;
}
.tool-name {
    font-size: 1.25em;
    font-weight: 700;
}
.grid-buttons:hover {
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    color: #a7a8aa;
}
/* media queries*/
@media (max-width: 350px) {
    .colored {
    font-size: 2.5em;
    }
    .grid-buttons{
        max-width: 200px;
    }
}
@media (max-width: 450px) {
    .colored {
        font-size: 2.5em;
    }
}
@media (min-width: 580px) {
    .grid-buttons{
        margin: 10px;
        padding: 10px;
    }
    .colored {
        font-size: 2.5em;
    }
    .tool-name{
        font-size: 1em;
    }
}
@media (max-width: 900px){
    .grid-buttons{
        margin: 10px;
        padding: 10px;
    }
    .tool-name{
        font-size: 1em;
    }
    .colored {
        font-size: 2.5em;
    }
}
@media (min-width: 900px){
    .big-buttons-for-skills{
        max-width: 1000px;
    }
    .grid-buttons{
        margin: 10px;
        padding: 20px;
    }
    .tool-name{
        font-size: 1em;
    }
    .colored {
        font-size: 3em;
    }

}